<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="gotoLogin()">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
      </ion-buttons>
    <ion-title>アルバム</ion-title>
    <ion-buttons slot="end">
        <ion-button end fill="clear" size="large" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="captureDataUrl" *ngIf="captureDataUrl" height="400"/>
  <ion-button (click)="upload()" *ngIf="captureDataUrl">アップロード</ion-button>

</ion-content>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCGlzRYWBKHz6cUzv_iG08auBiD-WojHh4",
    authDomain: "notepad-9a5f2.firebaseapp.com",
    databaseURL: "https://notepad-9a5f2.firebaseio.com",
    projectId: "notepad-9a5f2",
    storageBucket: "notepad-9a5f2.appspot.com",
    messagingSenderId: "114549547445",
    appId: "1:114549547445:web:23b3ece3fd393dfe"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>