<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="gotoLogin()">
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title>
      メモ帳
    </ion-title>
    <ion-buttons slot="end">
        <ion-button end fill="clear" size="large" (click)="createMemo()">
            新規作成
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding>
  <ion-card *ngFor="let p of posts; let i = index">
    <ion-card-content>
      <h2 margin-bottom>{{p.userName}}</h2>
      <div margin-bottom>{{p.message}}</div>
    </ion-card-content>
    <ion-col size="6" size-sm>
      <ion-button fill="clear" size="small" (click)="deletePost(p)">
        <ion-icon name="trash"></ion-icon>
        <div>削除</div>
      </ion-button>
    </ion-col>
    <ion-col size="6" size-sm>
      <ion-button fill="clear" size="small" (click)="alreadyRead()">
        <ion-icon name="checkmark"></ion-icon>
        <div>既読</div>
      </ion-button>
    </ion-col>
  </ion-card>
</ion-item-sliding>
</ion-content>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCGlzRYWBKHz6cUzv_iG08auBiD-WojHh4",
    authDomain: "notepad-9a5f2.firebaseapp.com",
    databaseURL: "https://notepad-9a5f2.firebaseio.com",
    projectId: "notepad-9a5f2",
    storageBucket: "notepad-9a5f2.appspot.com",
    messagingSenderId: "114549547445",
    appId: "1:114549547445:web:23b3ece3fd393dfe"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>